version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

workflows:
  scan:
    jobs:
      - sonarcloud/scan:
          context: SonarCloud    # <-- name of a CircleCI Context that contains SONAR_TOKEN
